@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.shop-item {
  padding: 1rem;
}


.shop-item__price {
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
}

.shop-item h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1px;
  /*padding: 0 0 40px;*/
}

.shop-item__button {
  width:100%;
  background: #000;
  color: #fff;
  padding: .5rem;
}
