/*******************************/
/*GENERAL COMPONENTS*/
/*******************************/

.border-radius-sm {
  border-radius:1.5rem;
}

.border-radius-lg {
  border-radius: 90rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;

  background: -webkit-linear-gradient(#eee, #6D1BEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-secondary {
  font-size: 6.5rem;
  text-transform: uppercase;

  background: -webkit-linear-gradient(#eee, #6D1BEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-tertiary {
  display: inline;
  font-size: 2.4rem;
  border: 2rem #fff;

  background: -webkit-linear-gradient(#eee, #6D1BEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 120rem; /*stndard used*/
  padding: 0 3.2rem;
  margin: 0 auto; /*center it*/
}

.center-text {
  text-align: center;
}

.inner-container {
  width: 50%;
}

.list-items {
  font-size: 2rem;
  line-height: 1.5;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid {
  display: grid;
  justify-content: space-between;
}

.row-gap-md {
  row-gap: 2.5rem;
}

.row-gap {
  row-gap: 15rem;
}

.col-gap {
  column-gap: 4rem;
}

.gap-sm {
  gap: 1.5rem;
}

.gap-md {
  gap: 2.5rem;
}

.gap-lg {
  gap: 4rem;
}

.grid--center-v {
  align-items: center;
  justify-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.margin-top-md {
  margin-top: 2.5rem;
}

.margin-top-lg {
  margin-top: 4.5rem;
}

.margin-top-xlg {
  margin-top: 15rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-lg {
  margin-bottom: 4.5rem;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.padding-top-sm {
  padding-top: 2.5rem;
}

.padding-top-med {
  padding-top: 5rem;
}

.padding-top-lg {
  padding-top: 10rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





