@media (max-width: 600px) {
  .header {
    display: flex;
    background-color: #000;
    position: relative;
    padding: 1.5 rem 1.5 rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }

  .attention {
    font-size: 1.5rem;
    padding: 10 px 10 px;
    border: #fff;
    width: 100%;
    border-style: solid;
  }

  .section-hero {
    background-color: #070e16;
    height: 100vh;
    padding: 0px 0px;
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 30em;
  }

  .bottles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }

  .logo {
    height: 10rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nft-images {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    gap: 10px;
  }

  .nft-image {
    width: 30rem;
    height: auto;
  }

  

  .vintage-bottles {
    width: 100%;
    height: auto;
    border-radius: 4.5rem;
  }

  .heading-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    letter-spacing: -0.5px;
  }

  .heading-secondary {
    font-size: 5rem;
    text-transform: uppercase;
  
    background: -webkit-linear-gradient(#eee, #6D1BEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .episode-number {
    color: #cbb3f7;
    font-size: 6rem;
    font-weight: 600;
  }

  .members {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .copyright {
    display: none;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .row-gap-md {
    row-gap: 5rem;
  }

  .row-gap {
    row-gap: 5rem;
  }

  /*MOBILE NAVIGATION*/

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;

    /*Hide Navigation */
    /* allows no transitions
          display: none; */

    /*Hide it visually*/
    opacity: 0;

    /*make unaccessible to mouse and keyboard*/
    pointer-events: none;

    /*hide from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
  }

  .dropbtn {
    color: #000;
    background-color: #fff;
    font-size: 3rem;
    text-decoration: none;
    border: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 18rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
  }

  .episode-image:first-child {
    display: none;
  }

  .gap-lg {
    gap: 5px;
  }

  .margin-top-lg {
    margin-top: 1rem;
  }

  /* store */
.section-products{
  padding: 3rem 0;
}

  .product {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    max-width: 30rem;
    margin: auto;
    text-align: center;
    font-family: arial;
  }



}

