* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  text-transform: uppercase;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 25px;
  width: 100%;
  margin: auto;
}

.banner {
    background-image: url("images/bottles_banner.jpeg");
    height: 250px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        display: grid;
        grid-gap: 1em;
      }

    header {
        display: grid;
        grid-gap: 1em;
        justify-content: center;
        justify-items: center;
    }

    .nav-links {
        margin-right: 0px !important;
    }

    .social-links {
        margin-right: 0px !important;
    }

    section {
        margin-top: 50px !important;
    }

    .container {
        display: grid !important;
        justify-items: center !important;
    }

   .team-section {
       justify-content: center !important;
    }

  }

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 25px;
  font-style: italic;
  color: #00ccff;
  background: transparent;
  filter: drop-shadow(0 0 0.2rem rgb(2 251 2));

}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  background: transparent;
  filter: drop-shadow(0 0 0.2rem rgb(2 251 2));
  margin-bottom: 20px;
  color: #00ccff;
}

.nav-links{
    margin-right: 100px;
}

.nav-links nav {
  display: flex;
  gap: 15px;
  text-align: center;
  text-transform: none !important;
}

.nav-links nav a {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-transform: none !important;
}

.social-links {
    margin-right: 50px;
}

.social-links nav {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: end;
  margin-top: 15px;
}


.social-links nav a.twitter {
  color: #1da1f2;
}

.social-links nav a.discord {
  color: #7289d9;
}

.social-links nav a.shopify {
  color: #64943e;
}

.social-links a:hover,
nav a:hover {
  background: transparent;
  filter: drop-shadow(0 0 0.2rem rgb(2 251 2));
  color: #00ccff;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.main-image {
  width: 350px;
  height: auto;
  padding-left: 30px;
}

.box-image {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 10%;
}

.vintage-image {
  width: 450px;
  height: auto;
  border-radius: 10%;
}

.nft-image {
  width: 25%;
  height: auto;
  border-radius: 10%;
}

section {
  background: radial-gradient(60% 40%, #00ccff, black);
  margin-top: 100px;
}

.team-section {
  justify-content: space-between;
}

.team-section div {
  text-transform: none;
  font-weight: bold;
  text-align: center;
}

p {
  text-transform: none;
  font-size: 18px;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 1.5; 
 
}

ol {
  align-items: center;
  list-style-position: inside;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

footer p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

