* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.0625 */
  /* Percentage of users browser font setting */
  font-size: 62.5%;
}
body {
  font-family: "Exo", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

p {
  font-size: 2rem;
  line-height: 1.5;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

/*****************************/
/* HEADER */
/*****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: relative;
  /*to make sticky later*/
  padding: 1.5rem 1.5rem;
}

.logo {
  height: 15rem;
}

.logo-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #6D1BEB;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  border: 2px solid #fff;
}

.btn:hover,
.btn:active {
  color: #000;
  border-color: #000;
}

/*****************************/
/* NAVIGATION */
/*****************************/
.home-link {
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6D1BEB;
  border-color: #000;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  color: #6D1BEB;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}


.dropbtn {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius:10px;
  display: block;
}

.dropdown-content a:hover {background-color: #6D1BEB;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000;}

/*****************************/
/* HERO */
/*****************************/

.section-hero {
  /* background-color: #070e16;*/
  height: 100vh;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 60%;
}

.attention {
  font-size: 2.2rem;
  padding: 10px 10px;
  width: 60%;
 
  border:  #fff;
  border-style: solid;
}

.attention strong {
  color: red;
}

/*****************************/
/* ABOUT SECTION */
/*****************************/
.about-section {
  padding: 9.6rem 0;
  /* background-color: #070e16;*/
}

.section-about {
  padding: 9.6rem 0;
 /* background-color: #070e16;*/
}

.nft-images {
  display:flex;
  gap: 15px;
  padding-top: 5rem;
}

.nft-image {
  height: 50rem;
}

.nft-coll-image {
  height: 40rem;
}

.nft-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.vintage-bottles {
  width: 50rem;
  height: auto;
  border-radius: 4.5rem;
}

/*****************************/
/*COLLECTION*/
/****************************/
.section-bottles {
  /*padding: 9.6rem 0;
  background-color: #070e16;*/
}

.bottles {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.bottle {
  height: auto;
}

#slideshow {
  margin: 0 auto;
  height: 80rem;
  width: 100%;
  box-sizing: border-box;
}

.entire-content {
  margin: auto;
  width: 30rem;
  height: 20rem;
  perspective: 70rem;
  position: relative;
  padding-top: 8rem;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state:running;
}

.content-carrousel figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(35deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(70deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(105deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(140deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(175deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(210deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(245deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(315deg) translateZ(300px);
}

.shadow {
  position: relative;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 25rem;
}

/*.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}*/

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.nft-collection {
  display:flex;
  gap: 15px;
  padding-top: 50;
}

.nft-title {
  display: inline;
  font-size: 2rem;
  border: 2rem #fff;

  background: -webkit-linear-gradient(#eee, #6D1BEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nft-rank{
  font-size: 1.8rem;
}

/*****************************/
/* ROADMAP SECTION */
/*****************************/
.section-roadmap {
  padding: 9.6rem 0;
  /* background-color: #070e16;*/
}

.roadmap {
  font-size: 2.4rem;
  text-align: center;
  width: 60%;
  border: #fff;
  border-style: dotted;
  padding: 10px 15px;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.roadmap-step p {
  font-size: 2rem;
}

.roadmap-step h4 {
  text-decoration: underline;
  font-size: 2.8rem;
  font-weight: bolder;

  background: -webkit-linear-gradient(#eee, #6d1beb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*****************************/
/* MISSION SECTION */
/*****************************/

.section-mission {
  padding: 9.6rem 0;
  /* background-color: #070e16;*/
}
.episode-number {
  color: #6D1BEB;
  font-size: 8rem;
  font-weight: 600;
}

.episode-title {
  color: #6D1BEB;
  font-size: 2.4rem;
}

.episode-description {
  margin-top: 1.5rem;
  text-align: center;
}

.episode-image {
  width: 30rem;
}

.episode-text-box {
  text-align: center;
}

/*****************************/
/* TEAM SECTION */
/*****************************/
.section-team {
  padding: 9.6rem 0;
  /* background-color: #070e16;*/
}

.members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.headshot {
  width: 15rem;
  border-radius: 100px;
  box-shadow: 0px 0px 25px #fff;
}

.job-title {
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}

.handle {
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}

/*****************************/
/* STORE */
/*****************************/

.section-products {
  padding: 9.6rem 0;

}

.product {
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  max-width: 30rem;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.product-name{
  color:#000;
  background-color: #eee;
  font-size: 2.4rem ;
  padding:.5rem;
}

.product-description{
  color:#000;
  background-color: #eee;
  font-size: 1.6rem;
  padding:.5rem;
}

.product-image {
  width: 100%;
}

.price {
  color: grey;
  background-color: #eee;
  font-size: 2.2rem;
}

.product-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product-button:hover {
  opacity: 0.7;
  color:#6d1beb;
}

/*****************************/
/* FAQ SECTION */
/*****************************/

.section-faq {
  padding: 9.6rem 0;
  /* background-color: #070e16;*/
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.faq-item {
  box-shadow: 0px 0px 25px #fff;
  padding: 2.4rem;
  background-color: #070e16;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
}

.faq-question,
.faq-number {
  font-size: 2rem;
  font-weight: bolder;

  background: -webkit-linear-gradient(#eee, #6d1beb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-answer {
  grid-column: 2;
  display: none;
}

.faq-answer p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
  color: #fff;
}

.fa-plus-circle {
  color: #6D1BEB;
}

.open .faq-answer {
  display: block;
}

/*****************************/
/* FOOTER */
/*****************************/
.footer {
  padding: 2rem 0;
  background-color: #000;
  border-top: 1px solid rgb(97, 92, 92);
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 2rem;
}

.footer-link:hover,
.footer-link:active {
  color: #6D1BEB;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.fab {
  height: 3rem;
  width: 3rem;
  color: #fff;
}

.fab:hover {
  color: #6D1BEB;
}

/*****************************/
