* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-transform: uppercase;
  }
  
  header {
    display: flex;
    justify-content: space-evenly;
    gap: 190px;
    align-items: center;
    background-color:#000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70em;
  }



  h1 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: #00ccff;
    background: transparent;
    filter: drop-shadow(0 0 0.2rem rgb(2 251 2));
  }
  
  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    background: transparent;
    filter: drop-shadow(0 0 0.2rem rgb(2 251 2));
    margin-bottom: 20px;
    color: #00ccff;
  }
  
  .nav-links nav {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-right: 125px;
    text-transform: none !important;
  }
  
  .nav-links nav a {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-transform: none !important;
  }
  
  .social-links a:hover,
  nav a:hover {
    background: transparent;
    filter: drop-shadow(0 0 0.2rem rgb(2 251 2));
    color: #00ccff;
  }

  .social-links {
      margin-top: 20px;
}
  
  .social-links ul {
    display: flex;
    gap: 25px;
    padding-right:40px;
    align-items: center;
    list-style: none;
  }

.social-links ul li a.twitter {
  color: #1da1f2;
}

.social-links ul li a.discord {
  color: #7289d9;
}

.social-links ul li a.shopify {
  color: #64943e;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.main-image {
  width: 350px;
  height: auto;
  padding-left: 30px;
}

.box-image {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 10%;
}

.vintage-image {
  width: 300px;
  height: auto;
  border-radius: 10%;
}

.nft-image {
  width: 25%;
  height: auto;
  border-radius: 10%;
}

section {
  background: radial-gradient(60% 40%, #00ccff, black);
  margin-top: 150px;
}



.team-section {
    justify-content: space-between;
}

.team-section div {
    text-transform: none;
    font-weight: bold;
    text-align: center;
}

p {
  text-transform: none;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  line-height: 1.5;
}

ol {
  align-items: center;
  list-style-position: inside;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

footer p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

