.section {
    color: #fff;
    margin: 10rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.section h2 {
    font-size: 1.6rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .2rem;
    padding: 1rem;
}

.section p {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.section > .row > img {
    height: 550px;
    border-radius: 6.5rem;
}

.section ul {
    text-align: left;
}

@media (max-width: 600px) {

    .section {
        color: #fff;
        width: 90%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}