#container {
 width: 100%;
 overflow: hidden;
 padding: 5rem;
 background: transparent;
}

/*photobanner*/

.photobanner {
	height: 220px;
	width: 4200px;
	margin-bottom: 20rem;
}
/*keyframe animations*/
.first {
	-webkit-animation: bannermove 25s linear infinite;
	   -moz-animation: bannermove 25s linear infinite;
	    -ms-animation: bannermove 25s linear infinite;
	     -o-animation: bannermove 25s linear infinite;
	        animation: bannermove 25s linear infinite;
}

@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -5746px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }

}

@-webkit-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5746px;
 }

}

@-ms-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5746px;
 }

}

@-o-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5746px;
 }

}

.photobanner img {
    height: 25rem;
    width:  25rem;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

/* .photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
} */

@media (max-width: 600px) {
.photobanner{
	margin-top: 6rem;
}

}